<footer class="page-footer grey darken-3">
	<div class="container">
    	<div class="row">
    		<div class="col l6 s12">
        		<h5 class="white-text">Cursos Disponibles</h5>
        		<p class="grey-text text-lighten-4">Por el momento no hay cursos.</p>
      		</div>
	      	<div class="col l4 offset-l2 s12">
		        <h5 class="white-text">Enlaces de interés</h5>
		        <ul>
		          	<li>
		          		<a class="grey-text text-lighten-3" href="http://blog.codeando.org"><i class="fa fa-link"></i> Blog Codeando</a>
		          	</li>
		          	<li>
		          		<a class="grey-text text-lighten-3" href="https://github.com/codeandomx"><i class="fa fa-github"></i> Github</a>
		          	</li>
		          	<li>
		          		<a class="grey-text text-lighten-3" href="https://www.youtube.com/user/compusource"><i class="fa fa-youtube"></i> Youtube</a>
		          	</li>
		          	<li>
		          		<a class="grey-text text-lighten-3" href="https://twitter.com/codeando_org"><i class="fa fa-twitter"></i> Twitter</a>
		          	</li>
		          	<li>
		          		<a class="grey-text text-lighten-3" href="https://www.facebook.com/codeando.org"><i class="fa fa-facebook"></i> Facebook</a>
		          	</li>
		        </ul>
      		</div>
    	</div>
  	</div>
  	<div class="footer-copyright grey darken-4">
    	<div class="container">
    		© {{ year }} <a [routerLink]="['/']" class="grey-text text-lighten-4">Codeando</a>
    		<a [routerLink]="['/politica-de-privacidad']" class="grey-text text-lighten-4 right">Política de privacidad</a>
    		<span class="grey-text text-lighten-4 right">&nbsp;-&nbsp;</span>
    		<a [routerLink]="['/terminos-y-condiciones-de-uso']" class="grey-text text-lighten-4 right">Términos y condiciones de uso</a>
    	</div>
  	</div>
</footer>